<div class="container" style="width: 600px;">

    <div class="card" layout-align="center center">
        <!--Header-->
        <div class="card-header card-header-danger text-center">
            <h4 class="card-title"><i class="fa fa-lock"></i> Login:</h4>
        </div>
        <div class="card-body">
            <!--Body-->
            <form #f="ngForm" class="mx-auto" (ngSubmit)="OnSubmit(username.value,password.value)">
                <div class="row mt-4">

                    <div class="form-group col-sm-12"> <!--<div class="col-sm-4">-->

                        <mat-form-field>

                            <input matInput placeholder="Nom d'utilisateur" type="text" name="username"
                                   #username="ngModel" ngModel required/>
                            <mat-icon matPrefix>account_circle</mat-icon>
                        </mat-form-field>
                        <div *ngIf="username.invalid && (username.dirty || username.touched)">
                            <mat-error *ngIf="username.invalid">Le nom d'utilisateur est requis.</mat-error>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12"> <!--<div class="col-sm-4">-->
                        <mat-form-field>
                            <mat-icon matPrefix>vpn_key</mat-icon>
                            <input matInput placeholder="Mot de passe" type="password" name="password"
                                   #password="ngModel" ngModel required/>
                        </mat-form-field>
                        <div *ngIf="password.invalid && (password.dirty || password.touched)">
                            <mat-error *ngIf="password.invalid">Le mot de passe est requis.</mat-error>
                        </div>

                    </div>
                </div>

                <div class="text-center">
                    <button mat-raised-button id="submit" type="submit" [disabled]="!f.valid"
                            class="btn btn-danger pull-center">
                        Login
                    </button>
                </div>
            </form>
        </div>


        <!--Footer-->
        <div *ngIf="isLoginError" class="modal-footer">
            <div class="alert alert-danger alert-with-icon" style="width: 100%;">
                <i class="material-icons" data-notify="icon">error_outline</i>
                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close"><i
                        class="material-icons">close</i></button>
                <span data-notify="message">{{errorMessage}}</span>
            </div>
            <!--<div class="red-text center error-message text-center">
                <i class="material-icons">error</i> {{errorMessage}}
            </div>-->

        </div>


    </div>
</div>
