<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!--<div class="container margin-top">-->
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Configuration de l'Hôte</h4>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <form #hostForm="ngForm" (ngSubmit)="onEditConfig(hostForm.value)">
                                <div class="form-group" hidden>
                                    <label>key: </label>
                                    <input class="form-control" type="text" name="key" [(ngModel)]="host.key"/>
                                </div>
                                <div class="row">
                                    <div class="form-group col-10">
                                        <mat-form-field>
                                            <input matInput placeholder="Hôte" type="text" name="value"
                                                   #hostValue="ngModel" [(ngModel)]="host.value" required/>
                                        </mat-form-field>
                                        <div *ngIf="hostValue.invalid && (hostValue.dirty || hostValue.touched)"
                                             class="alert alert-danger">
                                            <div *ngIf="hostValue.errors.required">- L'hôte est requis.</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <button mat-icon-button id="hostSubmit" [disabled]="!hostForm.valid"
                                                type="submit">
                                            <mat-icon>create</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Configuration du chemin des images</h4>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <form #pathFormatForm="ngForm" (ngSubmit)="onEditConfig(pathFormatForm.value)">
                                <div class="form-group" hidden>
                                    <label>key: </label>
                                    <input class="form-control" type="text" name="key" [(ngModel)]="pathFormat.key"/>
                                </div>
                                <div class="row">
                                    <div class="form-group col-10">
                                        <mat-form-field>
                                            <input matInput placeholder="Structure du chemin des images" type="text"
                                                   name="value"
                                                   #pathFormatValue="ngModel" [(ngModel)]="pathFormat.value" required/>
                                        </mat-form-field>
                                        <div *ngIf="pathFormatValue.invalid && (pathFormatValue.dirty || pathFormatValue.touched)"
                                             class="alert alert-danger">
                                            <div *ngIf="pathFormatValue.errors.required">- La structure est requis.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <button mat-icon-button id="pathFormatSubmit" [disabled]="!pathFormatForm.valid"
                                                type="submit">
                                            <mat-icon>create</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
