<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-12">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Recherche" [(ngModel)]="query"
                                           id="listSearch">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <!--<mat-selection-list #matSelection [(ngModel)]="selectedItem">-->
                                <!--<mat-list-option  *ngFor="let item of productList | LockFilter: query" [value]="item.id">-->
                                <!--{{item.name}}-->
                                <!--</mat-list-option>-->
                                <!--</mat-selection-list>-->
                                <mat-radio-group class="example-radio-group" [(ngModel)]="selectedItem">
                                    <div class="col-6">
                                        <mat-radio-button class="example-radio-button"
                                                          *ngFor="let item of productList | LockFilter: query"
                                                          [value]="item.id">
                                            {{item.name}}
                                        </mat-radio-button>
                                    </div>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <form #f="ngForm" (ngSubmit)="onEditSubProduct(f.value)">
                            <div class="form-group" hidden>
                                <label>id: </label>
                                <input class="form-control" type="text" name="id" [(ngModel)]="subProduct.id"/>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6"> <!--<div class="col-sm-4">-->
                                    <mat-form-field>
                                        <input matInput placeholder="Nom de produit" type="text" name="name"
                                               #name="ngModel" [(ngModel)]="subProduct.name" required/>
                                    </mat-form-field>
                                    <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                         class="alert alert-danger">
                                        <div *ngIf="name.errors.required">- Le nom du produit est requis.</div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Nom de dossier" type="text" name="pathName"
                                               #pathName="ngModel" [(ngModel)]="subProduct.pathName" required/>
                                    </mat-form-field>
                                    <div *ngIf="pathName.invalid && (pathName.dirty || pathName.touched)"
                                         class="alert alert-danger">
                                        <div *ngIf="pathName.errors.required">- Le Nom du dossier est requis.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Heur de debut" name="startTime"
                                               #startTime="ngModel" [(ngModel)]="subProduct.startTime" required
                                               [ngxTimepicker]="startTime" [format]="24" readonly>
                                        <ngx-material-timepicker #startTime></ngx-material-timepicker>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Heur de fin" name="endTime"
                                               #endTime="ngModel" [(ngModel)]="subProduct.endTime" required
                                               [ngxTimepicker]="endTime" [format]="24" readonly>
                                        <ngx-material-timepicker #endTime></ngx-material-timepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Le pas" type="number" [(ngModel)]="subProduct.step"
                                               name="step"/>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Extension" type="text" [(ngModel)]="subProduct.ext"
                                               name="ext"/>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button [disabled]="!f.valid" class="btn btn-success" type="submit">
                                Valider
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>