<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand"
             let-onCheckedChange="onCheckedChange">
    <div class="form-inline row-item">
        <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa"
           [class.fa-caret-right]="item.collapsed"
           [class.fa-caret-down]="!item.collapsed"></i>
        <div class="form-check">
            <mat-checkbox [(ngModel)]="item.checked" (ngModelChange)="onCheckedChange()" [disabled]="item.disabled"
                          [indeterminate]="item.indeterminate">
            </mat-checkbox>
            <label class="form-check-label" (click)="item.checked = !item.checked; onCheckedChange()">
                {{item.text}}
            </label>
        </div>
    </div>
</ng-template>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="form-group">
                                <ngx-treeview [config]="config" [items]="items" [itemTemplate]="itemTemplate"
                                              (selectedChange)="onSelectedChange($event)">
                                </ngx-treeview>
                                <!--<ngx-treeview [config]="config" [items]="items" [itemTemplate]="itemTemplate" (filterChange)="onFilterChange($event)" (selectedChange)="values = $event">-->
                                <!--</ngx-treeview>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <!--<div class="container margin-top">-->
                <div class="card">
                    <div class="card-body">
                        <form #f="ngForm" (ngSubmit)="onSaveClient(f.value)">
                            <div class="row">
                                <div class="form-group col-sm-6"> <!--<div class="col-sm-4">-->
                                    <mat-form-field>
                                        <input matInput placeholder="Pseudo" type="text" name="username"
                                               #username="ngModel" ngModel minlength="5" required/>
                                    </mat-form-field>
                                    <div *ngIf="username.invalid && (username.dirty || username.touched)"
                                         class="alert alert-danger">
                                        <div *ngIf="username.errors.required">- Le pseudo est requis.</div>
                                        <div *ngIf="username.errors.minlength">- Username must be at least 5
                                            characters long.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Mot de passe" type="text" name="password"
                                               #password="ngModel" ngModel minlength="5"/>
                                    </mat-form-field>
                                    <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                         class="alert alert-danger">
                                        <div *ngIf="password.errors.required">- Le mot de passe est requis.</div>
                                        <div *ngIf="password.errors.minlength">- Password must be at least 5
                                            characters long.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Email" type="email" ngModel name="email"
                                               #email="ngModel" ngModel/>
                                    </mat-form-field>
                                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                         class="alert alert-danger">
                                        <div *ngIf="email.errors.email">- Veuillez entrer un valide email.</div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Entreprise" type="text" name="organizationName"
                                               #organizationName="ngModel" ngModel/>
                                    </mat-form-field>
                                    <div *ngIf="organizationName.invalid && (organizationName.dirty || organizationName.touched)"
                                         class="alert alert-danger">
                                        <div *ngIf="organizationName.errors.required">Le nom de l'entreprise est
                                            requis.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Telephone" type="text" ngModel name="phone"/>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-sm-6">
                                    <!--<label for="checked">Compte</label>-->
                                    <mat-radio-group [(ngModel)]="checked" name="active" id="active"
                                                     style="display: table">
                                        <mat-radio-button value="true" style="margin-right: 10px;">Compte actif
                                        </mat-radio-button>
                                        <mat-radio-button value="false">Compte inactif</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Produit:</h4>
                                        </div>
                                        <div class="card-body">
                                            <mat-chip-list>
                                                <mat-chip class="mb-1" *ngFor="let selectedItem of selectedItemsList">
                                                    {{selectedItem}}
                                                </mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button mat-raised-button id="submit" [disabled]="!f.valid" class="btn btn-success"
                                    type="submit">
                                Valider
                            </button>
                        </form>
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>