<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="container margin-top">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Modifier un admin</h4>
                        </div>
                        <div class="card-body">
                            <form #f="ngForm" (ngSubmit)="onEditAdmin(f.value)">
                                <div class="form-group" hidden>
                                    <label>id: </label>
                                    <input class="form-control" type="text" name="id" [(ngModel)]="admin.id"/>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <mat-form-field>
                                            <input matInput placeholder="Pseudo" type="text" name="username"
                                                   #username="ngModel" [(ngModel)]="admin.username" minlength="5"
                                                   required/>
                                        </mat-form-field>
                                        <div *ngIf="username.invalid && (username.dirty || username.touched)"
                                             class="alert alert-danger">
                                            <div *ngIf="username.errors.required">- Le pseudo est requis.</div>
                                            <div *ngIf="username.errors.minlength">- Le pseudo doit etre former par au
                                                moin 5 caractere.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <mat-form-field>
                                            <input matInput placeholder="Mot de passe" type="text" name="password"
                                                   #password="ngModel" ngModel minlength="5"/>
                                        </mat-form-field>
                                        <div class="alert alert-info">
                                            Laissez la case vide si vous ne voulez pas changer le mot de passe, ou
                                            entrez un mot de passe de 5 caractere minimum.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <mat-form-field>
                                            <input matInput placeholder="Nom" type="text" name="firstName"
                                                   #firstName="ngModel" [(ngModel)]="admin.firstName"
                                                   required/>
                                        </mat-form-field>
                                        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                             class="alert alert-danger">
                                            <div *ngIf="firstName.errors.required">Le nom est requis.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <mat-form-field>
                                            <input matInput placeholder="Prenom" type="text" name="lastName"
                                                   #lastName="ngModel" [(ngModel)]="admin.lastName"
                                                   required/>
                                        </mat-form-field>
                                        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                             class="alert alert-danger">
                                            <div *ngIf="lastName.errors.required">Le prenom est requis.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <mat-form-field>
                                            <input matInput placeholder="Email" type="email" ngModel name="email"
                                                   #email="ngModel" [(ngModel)]="admin.email" email/>
                                        </mat-form-field>
                                        <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                             class="alert alert-danger">
                                            <div *ngIf="email.errors.email">- Veuillez entrer un valide email.</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <mat-form-field>
                                            <input matInput placeholder="Telephone" type="text"
                                                   [(ngModel)]="admin.phone" name="phone"/>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <!--<label for="checked">Compte</label>-->
                                        <mat-radio-group [(ngModel)]="checked" name="active" id="active"
                                                         style="display: table">
                                            <mat-radio-button value="true" style="margin-right: 10px;">
                                                Compte actif
                                            </mat-radio-button>
                                            <mat-radio-button value="false">Compte inactif</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <button mat-raised-button id="submit" [disabled]="!f.valid" class="btn btn-success"
                                        type="submit">
                                    Save
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
